<!-- doctorDashboard.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" th:href="@{/assets/images/logo/logo.png}" />
    <title>Admin Dashboard</title>
    <link rel="stylesheet" th:href="@{/assets/css/adminDashboard.css}">
	<link rel="stylesheet" th:href="@{/assets/css/doctorDashboard.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <script th:src="@{/js/render.js}" defer></script>
    <script th:src="@{/js/util.js}" defer></script>
    <script th:src="@{/js/components/header.js}" defer></script>
    <script th:src="@{/js/components/footer.js}" defer></script>
    <script th:src="@{/js/services/patientServices.js}" defer></script>
    <script th:src="@{/js/doctorDashboard.js}" defer></script>
</head>
<body>
    <div class="container">
        <div class="wrapper">
   			<div id="header"></div>
				<main class="main-content">
					<section class="input-section">
        				<div class="input-wrapper">
            				<input type="text" id="searchBar" placeholder="Search by doctor name" />
        				</div>
    				</section>
   				    <section class="filter-section">
        				<div class="date-filter-wrapper">
             			     	<button type="button" id="today-button">Today's Appointments</button>
								<div class="input-wrapper">
									<input type="date" id="date-select">
								</div>
						</div>
					 </section>
 					 <section class="table-section">
					<table id="patientTable">
          				<thead class="table-header">
            				<tr>
              					<th>Patient ID</th>
							<th>Patient Name</th>
             				     <th>Phone</th>
                                   <th>Email</th>
                                   <th>Prescription</th>
              			     </tr>
        			          </thead>
          				<tbody id="patientTableBody">
        				    <!-- rows will be inserted here dynamically -->
        				    </tbody>
                         </table>
					 </section>
					 <div id="content"></div>
				</main>
            <div id="footer"></div>
        </div>
    </div>
	</div>
	</body>
</html>




